electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
win_code_sign_mirror=https://npmmirror.com/mirrors/winCodeSign/
nsis_mirror=https://npmmirror.com/mirrors/nsis/
nsis_assets_mirror=https://npmmirror.com/mirrors/nsis-assets/